<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rixengine.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="com.rixengine.demo.MainApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:debuggable="true"
        tools:ignore="HardcodedDebugMode"
        tools:replace="android:networkSecurityConfig">

        <activity
            android:name="com.rixengine.demo.rixengine.SplashActivity"
            android:theme="@style/splash_theme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.rixengine.demo.MainActivity"></activity>


        <!-- Alx demo案例-->
        <activity android:name="com.rixengine.demo.rixengine.AdListActivity" />
        <activity android:name="com.rixengine.demo.rixengine.BannerActivity"
            android:label="Rixengine Ad: banner"/>
        <activity
            android:name="com.rixengine.demo.rixengine.BannerListViewActivity"
            android:label="Rixengine Ad: ListView banner show" />
        <activity
            android:name="com.rixengine.demo.rixengine.BannerRecyclerViewActivity"
            android:label="Rixengine Ad: RecyclerView banner show" />
        <activity android:name="com.rixengine.demo.rixengine.RewardVideoActivity"
            android:label="Rixengine Ad: reward video"/>
        <activity android:name="com.rixengine.demo.rixengine.InterstitialActivity"
            android:label="Rixengine Ad: interstitial"/>

        <activity android:name="com.rixengine.demo.rixengine.NativeListActivity"
            android:label="Rixengine Ad: native"/>
        <activity
            android:name="com.rixengine.demo.rixengine.NativeListViewActivity"
            android:label="Rixengine Ad: ListView native show" />
        <activity
            android:name="com.rixengine.demo.rixengine.NativeRecyclerViewActivity"
            android:label="Rixengine Ad: RecyclerView native show" />
        <activity
            android:name="com.rixengine.demo.rixengine.NativeNormalActivity"
            android:label="Rixengine Ad: Normal native show" />

        <!-- TopOn平台 demo案例 -->
        <activity
            android:name="com.rixengine.demo.topon.TopOnAdDemoListActivity"
            android:label="TopOn Ad" />
        <activity android:name="com.rixengine.demo.topon.TopOnBannerActivity"
            android:label="TopOn Ad: banner"/>
        <activity android:name="com.rixengine.demo.topon.TopOnNativeActivity"
            android:label="TopOn Ad: native"/>
        <activity android:name="com.rixengine.demo.topon.TopOnRewardVideoActivity"
            android:label="TopOn Ad: reward video"/>
        <activity android:name="com.rixengine.demo.topon.TopOnInterstitialActivity"
            android:label="TopOn Ad: interstitial"/>
        <activity android:name="com.rixengine.demo.topon.TopOnSplashActivity"
            android:label="TopOn Ad: splash"/>


        <!-- Admob平台 demo案例 -->
        <activity
            android:name="com.rixengine.demo.admob.AdmobDemoListActivity"
            android:label="Admob Ad" />
        <activity android:name="com.rixengine.demo.admob.AdmobBannerActivity"
            android:label="Admob Ad: banner"/>
        <activity android:name="com.rixengine.demo.admob.AdmobRewardVideoActivity"
            android:label="Admob Ad: reward video"/>
        <activity android:name="com.rixengine.demo.admob.AdmobInterstitialActivity"
            android:label="Admob Ad: interstitial"/>
        <activity android:name="com.rixengine.demo.admob.AdmobNativeActivity"
            android:label="Admob Ad: native"/>



        <!-- TradPlus平台 demo案例 -->
        <activity
            android:name="com.rixengine.demo.tradplus.TradPlusDemoListActivity"
            android:label="TradPlus Ad" />
        <activity android:name="com.rixengine.demo.tradplus.TradPlusSplashActivity"
            android:label="TradPlus Ad: splash"/>
        <activity android:name="com.rixengine.demo.tradplus.TradPlusBannerActivity"
            android:label="TradPlus Ad: banner"/>
        <activity android:name="com.rixengine.demo.tradplus.TradPlusRewardVideoActivity"
            android:label="TradPlus Ad: reward video"/>
        <activity android:name="com.rixengine.demo.tradplus.TradPlusInterstitialActivity"
            android:label="TradPlus Ad: interstitial"/>
        <activity android:name="com.rixengine.demo.tradplus.TradPlusNativeActivity"
            android:label="TradPlus Ad: native"/>


        <!-- IronSource平台 demo案例 -->
        <activity
            android:name="com.rixengine.demo.ironsource.IronSourceDemoListActivity"
            android:label="Ironsource Ad"></activity>
        <activity android:name="com.rixengine.demo.ironsource.IronSourceInterstitialActivity"
            android:label="Ironsource Ad: interstitial"/>
        <activity android:name="com.rixengine.demo.ironsource.IronSourceRewardedVideoActivity"
            android:label="Ironsource Ad: reward video"/>
        <activity android:name="com.rixengine.demo.ironsource.IronSourceBannerActivity"
            android:label="Ironsource Ad: banner"/>

        <!-- max平台 demo案例 -->
        <activity
            android:name="com.rixengine.demo.max.MaxDemoListActivity"
            android:label="max Ad" />
        <activity
            android:name="com.rixengine.demo.max.MaxBannerActivity"
            android:label="max Ad:banner" />
        <activity
            android:name="com.rixengine.demo.max.MaxInterstitialActivity"
            android:label="max Ad:interstitial" />
        <activity
            android:name="com.rixengine.demo.max.MaxRewardVideoActivity"
            android:label="max Ad:reward video" />
        <activity
            android:name="com.rixengine.demo.max.MaxNativeActivity"
            android:label="max Ad:native" />



        <!-- 下面是配置信息 -->
        <!--Admob平台——start -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4920936244266233~6784498952"/>
        <!--Admob平台——end -->

        <!--TopOn平台——start -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <!--google-->
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
        <!--TopOn平台——end -->


        <!--ironsource平台——start -->
        <activity
            android:name="com.ironsource.sdk.controller.ControllerActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true" />
        <activity
            android:name="com.ironsource.sdk.controller.InterstitialActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.ironsource.sdk.controller.OpenUrlActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent" />

        <provider
            android:name="com.ironsource.lifecycle.IronsourceLifecycleProvider"
            android:authorities="${applicationId}.IronsourceLifecycleProvider" />
        <!--ironsource平台——end -->

        <!--max平台——start -->
        <meta-data android:name="applovin.sdk.key"
            android:value="95-ffs7CG-uU8Z3exG1oky-tAdQGD1z1kHK365gIQdSIH90WNUv2fTCPFMBhVmH9Fx0o1GhhAX7DQDrnACsVIv"/>
        <!--max平台——end -->

    </application>

</manifest>